:local .grid {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
}

:local .content {
    grid-column: 2;
    grid-row: 1;
}

:local .controls {
    grid-column: 2;
    grid-row: 2;
}

:local .right-panel {
    grid-column: 3;
    grid-row: 1 / 3;
}

:local .block-module {
    width: 120px;
    height: 120px;
}

:local .panel-module-info {
    padding: 0.3rem;
    width: 100%;
}
