body {
    background-color: black;
    cursor: default;
    margin: 0;
    overflow: hidden;
    padding: 0;
    image-rendering: pixelated;
    user-select: none;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.container {
    margin-top: 30px;
}

.ship-icon {
    cursor: pointer;
    margin: 0 6px;
}

.ship-icon:hover {
    outline: 1px solid yellow;
    outline-offset: -1px;
}

.title {
    background-color: lightgrey;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
}

.title-text {
    font-size: medium;
    margin: 0 4px;
}

.u-centered {
    text-align: center;
}
