body {
    background-color: black;
    cursor: default;
    color: white;
    margin: 0;
    overflow: hidden;
    padding: 0;
    image-rendering: pixelated;
    user-select: none;
}

body, html, .page {
    width: 100%;
    height: 100%;
}

button, button:focus, input[type=submit], input[type=submit]:focus, .button, .button:focus {
    border-color: darkgrey;
    color: white;
    margin-right: 0.7rem;
}

button:hover, input[type=submit]:hover, .button:hover {
    background-color: darkgrey;
    color: white;
}

button:disabled, button:disabled:hover, input[type=submit]:disabled, input[type=submit]:disabled:hover {
    background: grey;
    border-color: grey;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.1rem;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.bar {
    height: 18px;
}

.block {
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
}

.border-yellow:hover {
    outline: 1px solid yellow;
    outline-offset: -1px;
}

.container {
    margin-top: 2.5rem;
}

.flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.interactive {
    cursor: pointer;
}

.grey {
    background-color: grey;
}

.light-grey {
    background-color: lightgrey;
}

.red {
    background-color: red;
}

.u-centered {
    text-align: center;
}

.title {
    padding: 0 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.title-text {
    color: black;
    font-size: medium;
}

.main-menu {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
}

.content {
    grid-column: 2;
    grid-row: 1;
}

.controls {
    grid-column: 2;
    grid-row: 2;
}

.right-panel {
    grid-column: 3;
    grid-row: 1 / 3;
}

.block-module {
    width: 120px;
    height: 120px;
}

.panel-module-info {
    padding: 0.3rem;
    width: 100%;
}
