body {
    background-color: black;
    cursor: default;
    color: white;
    margin: 0;
    overflow: hidden;
    padding: 0;
    image-rendering: pixelated;
    user-select: none;
    height: 100%;
}

button, .button {
    color: white;
}

button:hover, .button:hover {
    background-color: darkgrey;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

html {
    height: 100%;
}

.bar {
    height: 15px;
}

.block {
    padding-bottom: 1rem;
}

.container {
    margin-top: 30px;
}

.flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-block {
    height: 100%;
}

.red {
    background-color: red;
}

.u-centered {
    text-align: center;
}

.title {
    background-color: lightgrey;
    position: absolute;
    top: 0;
    left: 0;
}

.text-title {
    color: black;
    font-size: medium;
    margin: 0 4px;
}

.ship-icon {
    cursor: pointer;
    margin: 0 6px;
}

.ship-icon:hover {
    outline: 1px solid yellow;
    outline-offset: -1px;
}
