body {
    background-color: black;
    cursor: default;
    color: white;
    margin: 0;
    overflow: hidden;
    padding: 0;
    image-rendering: pixelated;
    user-select: none;
}

body, html, .page {
    width: 100%;
    height: 100%;
}

button, .button {
    color: white;
}

button:hover, .button:hover {
    background-color: darkgrey;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.2rem;
}

.bar {
    height: 18px;
}

.block {
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
}

.container {
    margin-top: 30px;
}

.flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.red {
    background-color: red;
}

.u-centered {
    text-align: center;
}

.title {
    background-color: lightgrey;
    position: absolute;
    top: 0;
    left: 0;
}

.text-title {
    color: black;
    font-size: medium;
    margin: 0 4px;
}

.icon-ship {
    cursor: pointer;
}

.icon-ship:hover {
    outline: 1px solid yellow;
    outline-offset: -1px;
}

.block-gun {
    background-color: grey;
    width: 120px;
    height: 120px;
}
